*.iml
.gradle
/local.properties
/.idea
.DS_Store
build/
/captures
shared/src/commonMain/kotlin/PrivateSecretsDontShare.kt
.externalNativeBuild
.cxx
iosApp/Podfile.lock
iosApp/Pods/*
iosApp/iosApp.xcworkspace/*
iosApp/iosApp.xcodeproj/*
!iosApp/iosApp.xcodeproj/project.pbxproj
shared/shared.podspec
